<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>Form Submitted Successfully</h2>
<p>
  <%= @contact.full_name %> have successfully Submitted the Contact Form.
</p>
<p>
  Email ID: <%= @contact.email %>
</p>
<p>Thanks You!</p>
</body>
</html>
